@font-face {
font-family: FunCityLevel1Basic;
src: url(../fonts/FunCityLevel1Basic.otf);
}
@font-face {
font-family: FunCityLevel2Basic;
src: url(../fonts/FunCityLevel2Basic.otf);
}
body {
margin:0;
padding:0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-font-smoothing: antialiased;
font-family: 'Lato', sans-serif;

}


button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

input:focus{
outline: 0; 
border:0;
}

div, body, h1, h2, h3, h5, h6, span, form, input, p, a, nav, header, footer, 
section, aside, article, figure{ 
margin:0; 
padding:0; 
text-decoration:none;
}

a img, img{ 
border: 0; 
outline:0!important;
}

a, .active, :after, :visited, :focus a:focus{
outline: 0!important; 
border:0; 
text-decoration:none!important;
}
a{
	color:#e85139;
}
/*************** Menu Css **************/
header{
	position:fixed;
	border-top: 7px solid #e85139;
	font-family: FunCityLevel2Basic;
	z-index: 5;
    width: 100%;
  }
 /*  header .header_top_part{
	margin-top: 23px;
  } */
 
 header .header_top_part .logo{
	width: 137px;
    height: 32px;
	float:left;
 }
  header .header_top_part nav.main-menu{
	float:right;
  }
  ul.slimmenu li:before{
	  background:transparent !important;
  }
.main-menu ul li.unique-btn a{
	background: #e85139;
    border-radius: 15px;
	padding: 5px 20px;
}
.main-menu ul.slimmenu li a{
	font-size:12px;
	letter-spacing: 0 !important;
	    margin: auto 30px;
}
.main-menu .collapse-button {
    background-color: transparent;
}
header .header_top_part.fixed{
	background:#000;
	margin-top:0;
	height:77px;
}
header .header_top_part .menu_inner{
	    margin-top: 23px;
}

/*********Homepage css start  ************/
.featured_section{
    position: relative;
    min-height: 694px;
	padding: 206px 0;
}
.featured_section .inner_content {
    max-width: 585px;
    position: relative;
   /*  top: 50%;
    transform: translate(0,-50%); */
    color: #fff;
}
.featured_section .inner_content h1{
	font-size: 62px;
    font-family: FunCityLevel1Basic;
	    letter-spacing: 3.2px;
    line-height: 67px;
}
.featured_section .inner_content p{
	font-family: 'Playfair Display', serif;
    font-size: 26px;
	padding-left: 8px;
    padding-top: 14px;
	    line-height: 44px;
}

/******** 3 icon section  ***********/
.icon_section{
	padding-top:50px;
}
.icon_section .icon_cols{
	text-align:center;
	padding-left: 10px;
	padding-right:10px;
}
.icon_section .icon_parent .icon_img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: #fff;
    border: 1px solid #f2f0f0;
	margin: 0 auto;
}
.icon_section .icon_parent .icon_img img{
	    padding-top: 35px;
}
.icon_section .icon_parent h4{
	font-family: FunCityLevel2Basic;
	font-size:16px;
	line-height:44px;
	text-transform:uppercase;
	    margin-bottom: 2px;
}
.icon_section .icon_parent h4 strong{
	    color: #e85139;
}
.icon_section .icon_parent p{
	font-size:22px;
	line-height:35px;
	letter-spacing:-0.3px;
	color:#161620;
	font-weight: 550;
	font-family: 'Playfair Display', serif;
}
.icon_section .icon_btn{
	  text-align: center;
    /* margin-top: 54px; */
    background: #e85139;
    border-radius: 30px;
    max-width: 265px;
    margin: 0 auto;
}
.icon_section .icon_btn a{

        color: #fff;
    padding: 14px 45px;
    font-family: FunCityLevel2Basic;
    font-size: 12px;
    line-height: 44px;
    letter-spacing: -0.2px;
}
.icon_section .btn_cols{
	    margin-top: 54px;
}
.icon_section .icon_grid{
	padding-left: 50px;
    padding-right: 50px;
}


/******** who cares Section *************/
.care_section {
    padding-top: 100px;
	padding-bottom:50px;
}
.care_section .left_img{
	position: relative;
    height: 100%;
    float: left;
    margin-right: 34px;

}
.care_section .left_img:before{
	    content: '';
    float: left;
    border-radius: 50%;
    /* max-width: 589px; */
    /* max-height: 589px; */
    background: #d9d6d4;
    position: absolute;
    z-index: -1;
    margin-top: 25px;
    margin-left: 15px;
    height: 100%;
    width: 100%;

}
.care_section .left_img img{
/* 	float: left;
	margin-right: 34px; */
}

.care_section .right_content{
	padding-top: 92px;
	max-width: 516px;
    float: left;
}

.care_section .right_content h4{
	font-size:16px;
	line-height:44px;
	letter-spacing: -0.3px;
	font-family:FunCityLevel2Basic;
	color:#e85139;
	    padding-left: 12px;
}
.care_section .right_content h2{
	font-size:52px;
	line-height:57px;
	letter-spacing:3.6px;
	font-family:FunCityLevel1Basic;
	color:#3f3f3f;
}

.care_section .right_content p{
	font-size:24px;
	line-height:40px;
	letter-spacing:0;
	font-family: 'Playfair Display', serif;
	color:#161620;
	    padding-left: 13px;
}
.care_section .right_content hr{
	border-top: 1px solid #e85139;
	margin-top: 13px;
    margin-bottom: 26px;
	max-width: 470px;
}


/*********Why we exist   ************/
.exist_section{
	padding-bottom: 93px;
	background: #202026;
}
.exist_section .left_exist_content h4 {
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -0.3px;
    font-family: FunCityLevel2Basic;
    color: #e85139;
}
.exist_section .left_exist_content h3 {
    color: #fff;
    font-size: 34px;
    line-height: 45px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0;
	padding-bottom: 24px;
}
.exist_section .left_exist_content p {
    color: #fff;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0;
}
.exist_section .left_exist_content{
	float: left;
    max-width: 530px;
    padding-top: 95px;
}
.exist_section .right_exist_img{
/* 	float: left;
    border-radius: 50%;
    width: 589px;
    height: 589px;
    background: #414146; */
    /* padding-top: 10px; */
	
	    z-index: 0;
	position: relative;
    height: 100%;
    float: left;
	    margin-top: -16px;
   
}
.exist_section .right_exist_img:before{
	    content: '';
    float: left;
    border-radius: 50%;
    /* max-width: 589px; */
    /* max-height: 589px; */
    background: #414146;
    position: absolute;
    z-index: -1;
    margin-top: 38px;
    margin-left: 21px;
    height: 100%;
    width: 100%;
}

.exist_section .right_exist_img img{
	/* margin-top: -26px;
    margin-left: -13px; */
}
.exist_section .left_exist_content .exist_btn{
margin-top: 33px;
    border: 2px solid #e85139;
    border-radius: 29px;
    max-width: 168px;
}
.exist_section .left_exist_content .exist_btn a{
    padding: 12px 35px;
    font-size: 12px;
    line-height: 44px;
    color: #fff;
    font-family: FunCityLevel2Basic;
    text-align: center;
}

/*************Your Ques ************ */
.your_ques_section{
	background:#161620;
	padding-top:70px;
	}
.your_ques_section .ques_title h2, .your_ques_section .ques_title h3{
	    text-align: center;
		color:white;
}
.your_ques_section ul.grid_parent li{   
   text-align: center;
    max-width: 33.333%;

}
.your_ques_section .exist_btn {
    padding-top: 33px;
	text-align:center;
}
.your_ques_section .exist_btn a {
    padding: 12px 35px;
    border: 2px solid #e85139;
    border-radius: 29px;
    font-size: 12px;
    line-height: 44px;
    color: #fff;
    font-family: FunCityLevel2Basic;
}
.your_ques_section ul.grid_parent li .grid_innercontent{ 
background:#fff;
}
.your_ques_section ul.grid_parent li .grid_innercontent h4{
	font-size: 16px;
    line-height: 44px;
    letter-spacing: -0.3px;
    font-family: FunCityLevel2Basic;
    color: #e85139;
}
.your_ques_section ul.grid_parent li .grid_innercontent h3{
	font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.3px;
    font-family: 'Playfair Display', serif;
    color: #020202;
}



/************ Media CSS ****************/
@media (max-width: 1200px){
	.main-menu ul.slimmenu li a{
	font-size: 11px;
    margin: auto 20px;
	}
	.care_section .right_content h2{
		font-size: 28px;
		    line-height: 42px;
    letter-spacing: 2.6px;
	}
	.care_section .left_img{
	float: none;
    max-width: 490px;
    margin: 0 auto;
	}
	.care_section .right_content{
	float: none;
    max-width: 1200px;
	}
	.exist_section .right_exist_img{
		max-width: 490px;
    margin: 0 auto;
    float: none;
	    margin-top: 45px;

	}
	.exist_section .left_exist_content{
		float: none;
    max-width: 100%;
	}
}

@media (max-width: 1024px){
	header .main-menu ul.slimmenu.collapsed{
		background: #e85139;
		top: 77px;
	}
	header .main-menu ul.slimmenu.collapsed li.unique-btn a{
		border-radius: 0;
	}
}
@media (max-width: 991px){
	.care_section .right_content h4{
		line-height: 33px;
	}
	.care_section .left_img{
		float: none;
		margin: 0 auto;
	}
	.icon_section .icon_parent p{
	font-size: 17px;
    line-height: 27px;
	}
	.care_section .right_content p {
    font-size: 21px;
    line-height: 32px;
	}
	.exist_section .left_exist_content h3 {
    font-size: 26px;
    line-height: 34px;
	}
	.exist_section .left_exist_content p {
    font-size: 15px;
    line-height: 25px;
	}
}
@media(max-width:767px){
	.featured_section .inner_content h1{
		    font-size: 32px;
    letter-spacing: 2.2px;
    line-height: 51px;
	}
	.featured_section .inner_content p{
		       font-size: 20px;
    line-height: 36px;
	}
	.icon_section .icon_parent p{
		    font-size: 19px;
	}
}
@media(max-width:380px){
	.featured_section .inner_content h1 {
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 39px;
	}
	.featured_section .inner_content p {
    font-size: 19px;
    line-height: 33px;
	}
}











